<h1 class="p-3 alert-success text-center">ng-Pipes</h1>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p class="alert alert-warning">
        {{title | lowercase | uppercase | titlecase}} <!-- pipe chaining -->
        <!-- {{title | titlecase}} -->
        <!-- {{title | uppercase}} -->
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          {{course.title | uppercase}}
        </div>
        <div class="card-body">
          <p>
            {{course.students | number}}
          </p>
          <p>
            {{course.rating | number}} <!-- by default added by three numbers only -->
          </p>
          <hr>
          <p>
            {{course.rating | number : '3.2-4'}}
            <br>
            {{course.rating | number : '1.2-2'}}
          </p>
          <hr>
          <p>
            {{course.releaseDate | date}} <br>
            {{course.releaseDate | date : 'short'}} <br>
            {{course.releaseDate | date : 'medium'}} <br>
            {{course.releaseDate | date : 'long'}} <br>
            {{course.releaseDate | date : 'full'}} <br>
            {{course.releaseDate | date : 'shortDate'}} <br>
            {{course.releaseDate | date : 'mediumDate'}} <br>
            {{course.releaseDate | date : 'longDate'}} <br>
            {{course.releaseDate | date : 'fullDate'}} <br>
          </p>
          <hr>
          <p>
            {{course.price | currency}} <!-- by default currency is $ i.e 'USD' --> <br>
            {{course.price | currency : 'USD'}} <br>
            {{course.price | currency : 'INR'}} <br>
            {{course.price | currency : 'EUR'}} <br>
            {{course.price | currency : 'AUD'}} <br>
            {{course.price | currency : 'GBP'}} <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<hr>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="alert alert-success">
        {{title | summary : 10}}
      </p>
      <p class="alert alert-success">
        {{title | summary : 50}}
      </p>
      <p class="alert alert-success">
        {{title | summary : 100}}
      </p>
      <p class="alert alert-success">
        {{title | summary}}
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4" *ngFor="let file of filesArray">
      <div class="card mb-4">
        <div class="card-header">
          <!-- {{file.fileName}} <br> -->
          {{file.type}}
        </div>
        <div class="card-body myBody m-0">
          <img src="{{file.img}}" alt="" class="img"><br>
        </div>
        <div class="card-footer">
          {{file.size | fileSize}}
        </div>
      </div>
    </div>
  </div>
</div>